<!-- Link to external CSS file I used for Icons: -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">

<div class="column">
    <div class="socials">
        <a href="mailto:{{contacts.email}}" target="_blank"><span class="material-icons"><i class="ri-mail-fill"></i></span></a>
        <a href="{{contacts.youtube}}" target="_blank"><span class="material-icons"><i class="ri-youtube-fill"></i></span></a>
        <a href="{{contacts.github}}" target="_blank"><span class="material-icons"><i class="ri-github-fill"></i></span></a>
        <a href="{{contacts.linkedin}}"><span class="material-icons"><i class="ri-linkedin-fill"></i></span></a>
        <div class="copyright">
            Copyright &copy; 2024 Nick McClure. All rights reserved.
        </div>
    </div>
</div>
