<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Div for the whole app: -->
<div class="wrapping" [ngClass]="bgMode">

    <!-- Calls the Header Component: -->
    <app-header [contacts]="contacts"></app-header>

    <label>Light Mode / Dark Mode: </label><input type="checkbox" mat-checkbox [disabled] = 'false' (click)="LightMode()">
    
    <!-- Calls the About Component: -->
    <app-about [contacts]="contacts"></app-about>

    <!-- Calls the Projects Component: -->
    <app-projects></app-projects>

    <!-- Calls the Footer Component-->
    <app-footer [contacts]="contacts"></app-footer>

    <!-- Calls the Contact Component: -->
    <app-contact [contacts]="contacts"></app-contact>

</div>

<!--
    References:
    - https://www.youtube.com/watch?v=cFetJ_S4_90 --- Helped in the Debugging stage of DarkMode ---
-->